@import url(assets/css/header.css);
@import url(assets/css/content.css);
@import url(assets/css/footer.css);
@import url(assets/css/modal.css);

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url(assets/img/bg-mobile.svg);
}

@media (min-width: 375px) {
    body{
        background-image: url(assets/img/bg-desktop.svg);
        background-repeat: repeat-y;
        background-size: cover;
    }
}
