footer{
    width: calc((28px * 3) + 22px);
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-between;
}

.footer__link{
    width: 28px;
    height: 28px;
    margin-bottom: 2.5rem;
}

#facebook{
    background-image: url(../img/facebook.svg);
}

#twitter{
    background-image: url(../img/twitter.svg);
}

#instagram{
    background-image: url(../img/instagram.svg);
}

@media screen and (min-width: 376px) {
    footer{
        width: auto;
        margin-right: 5rem;
        margin-bottom: 0;
        flex: 1;
        align-items: flex-end;
        justify-content: flex-end;
    }

    .footer__link{
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }

    #facebook:hover{
        background-image: url(../img/facebook_hover.svg);
        transition: 200ms;
    }
    
    #twitter:hover{
        background-image: url(../img/twitter_hover.svg);
        transition: 200ms;
    }
    
    #instagram:hover{
        background-image: url(../img/instagram_hover.svg);
        transition: 200ms;
    }
    
}