footer{
    width: calc((27.5px * 3) + 23px);
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    justify-content: space-between;
}

.footer__link{
    width: 28px;
    height: 28px;
    margin-bottom: 2.5rem;
}

#facebook{
    background-image: url(../img/facebook.svg);
}

#twitter{
    background-image: url(../img/twitter.svg);
}

#instagram{
    background-image: url(../img/instagram.svg);
}

