.footer{
    display: flex;
    font-size: 1rem;
    justify-content: center;
    width: 100vw;
}

.footer__icon{
    color: white;
}

.footer__icon-link{
    border: solid 1px white;
    border-radius: 0.75rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 0.5rem;
    z-index: 2;
}

.footer__icon-link:hover{
    border-color: hsl(300, 69%, 71%);
    cursor: pointer;
}


@media (min-width: 500px){
    .footer{
        float: right;
        font-size: 2rem;
        margin-top: -3rem;
        margin-right: 2rem;
        width: 25vw;
    }

    .footer__icon-link{
        border: solid 1px white;
        border-radius: 2rem;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0.5rem 0.5rem;
    }
}

@media (min-width: 1024px){
    .footer{
        float: right;
        font-size: 2rem;
        margin-top: -3rem;
        margin-right: 2rem;
        width: 25vw;
    }

    .footer__icon-link{
        border: solid 1px white;
        border-radius: 3rem;
        margin-left: 1rem;
        margin-top: 1rem;
        padding: 0.5rem 0.5rem;
    }
}