.modal{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.modal__form{
    background-color: #f1f1f1;
    height: 75vh;
    margin: auto 0;
    width: 80vw;
}

.modal__form--imagem{
    background-color: hsl(257, 40%, 49%);
    border-radius: 5rem;
    margin: 1rem auto 0 auto;
    width: 120px;
}

.modal__form--imagem-imagem{
    display: block;
    margin: 0 auto 2rem auto;
    width: 100px;
}

.modal__form--container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal__form--container_formulario{
    width: 50vw;
    margin: 0 auto;
}

.modal__form--container_formulario-usertitle{
    display: block;
    text-align: center;
}

.modal__form--container_formulario-userinput{
    display: block;
    width: 60vw;
}

.modal__form--container_formulario-emailtitle{
    display: block;
    text-align: center;
}

.modal__form--container_formulario-emailinput{
    display: block;
    width: 50vw;
    
}

.modal__form--container_formulario_mensage{
    display: block;
    width: 90%;
    margin: 0 auto 2rem auto;
}

.modal__form--container_formulario_buttonregister{
    width: 40vw;
    height: 7vh;
    display: block;
    margin: 0 2rem 0 auto;
    background-color: rgb(0, 124, 187);
    border: none;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
}

