.modal-div{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.modal{
    width: 80vw;
    height: 80vh;
    background: white;
    margin: auto auto;
    border-radius: 16px;
}

.modal__fechar{
    width: 93%;
    height: 2rem;
    display: flex;
    margin: 1rem auto 0 auto;
    justify-content: flex-end;
}

.modal__fechar--botao{
    display: flex;
    align-items: center;
}

.modal__fechar--botao:hover{
    border: 1px dotted blue;
}

.modal__fechar--botao-text{
    font-size: 1rem;
    font-family: arial;
    text-transform: uppercase;
}

.modal__logo{
    width: 100%;
}

.modal__logo--imagem{
    background-color: hsl(257, 40%, 49%);
    margin: 0 auto;
    width: 7rem;
    height: 7rem;
    border-radius: 7rem;
}

.modal__logo--imagem-logo{
    display: block;
    width: 7rem;
}

.modal__formulario{
    display: flex;
    flex-direction: column;
}

.modal__formulario--form{
    margin-top: 1rem;
    width: 100%;
    height: 200px;
}

.modal__formulario--form_init{
    display: flex;
    flex-direction: column;
}

.modal__formulario--form_init-username-title{
    font-size: 1.5rem;
    margin: 1rem auto 0 auto;
}

.modal__formulario--form_init-username-input{
    width: 80%;
    height: 2rem;
    margin: 1rem auto 0 auto;
    border: 1.5px solid black;
    border-radius: 8px;
    outline: none;
}

.modal__formulario--form_init-username-input:focus{
    border: 1.5px solid hsl(257, 40%, 49%);
}

.modal__formulario--form_init-password-title{
    font-size: 1.5rem;
    margin: 1rem auto 0 auto;
}

.modal__formulario--form_init-password-input{
    width: 80%;
    height: 2rem;
    margin: 1rem auto 0 auto;
    border: 1.5px solid black;
    border-radius: 8px;
    outline: none;
}

.modal__formulario--form_init-password-input:focus{
    border: 1.5px solid hsl(257, 40%, 49%);
}

.modal__formulario--botao{
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal__formulario--botao-botao{
    width: 8rem;
    height: 3rem;
    background-color: hsl(257, 40%, 49%);
    border: none;
    margin-right: 1rem;
    border-radius: 8px;
    color: white
}

.modal__recover{
    margin-top: 1rem;
}

.modal__recover--login-menu{
    display: flex;
    justify-content: space-around;
}

.modal__recover--login-menu_item{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.modal__recover--login-menu_item:hover{
    cursor: pointer;
    text-decoration: underline;
}

.modal__recover--login-menu-back{
    margin-top: 1rem;
}